body {
 text-align: center;
 padding: 30px 10%;
 
}

header > h1 {
    color: pink;

}


footer > h6 {
    color: aqua;
}
.my_form_group{
    text-align: left;
}

label {
    margin-bottom: 0px !important;
    font-size: 0.94em;
    font-style: italic;
    color: navy;

}
.alert{
    color: red;
    margin-top: 0px;
    padding-top: 0px;
}
form {
    border: 1px solid silver;
    border-radius: 15px;
    padding: 30px;
    width: 450px;
    margin: 30px auto;
    box-shadow: 10px 10px 30px silver;
}
.my_btn{width: 120px;
margin: 20px 2px 15px 2px;
}