*{box-sizing: border-box;
margin: 0;
padding: 0;
text-decoration: none;
}

.container{display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
justify-items: center;
height: 100vh;
}

#img{
   padding: 10px 0px;
    justify-self: center;
}

.btn-wrap{
    padding-left: 10px;
}

.btn{background: purple;
border-radius: 10px;
padding: 10px;
border: 0;
}

.btn:hover{transition: 0.5s;
transform: scale(1.1);
}


#text{border-radius: 10px;}

.input-wrap{display: flex;
flex-direction: row;
padding-right: 10px;
}

